* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(https://st.depositphotos.com/3254189/4461/v/600/depositphotos_44619067-stock-illustration-leather-animal-snake-textures.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.main_ground {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.ground {
  height: 100vmin;
  width: 120vmin;
  background: linear-gradient(
    rgba(174, 26, 211, 0.904),
    rgb(191, 43, 228, 0.904),
    rgb(207, 85, 238, 0.904),
    rgb(214, 133, 235, 0.904)
  );
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(22, 1fr);
  box-shadow: 0px 0px 1000px black;
}

.bodyColor {
  background: linear-gradient( rgb(220, 238, 86),rgb(176, 231, 240));
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(216, 13, 216);
  /* background; */
}

.headColor {
  background: linear-gradient( rgb(215, 235, 66),rgb(140, 219, 231));
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(216, 13, 216);
}

.foodColor {
  background: linear-gradient(rgb(236, 255, 94),rgb(153, 241, 255));
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(216, 13, 216);
}

.scores_record {
  color: rgb(245, 196, 61);
  font-family: cursive;
  font-style: oblique;
  font-size: 25px;
  /* border: 10px solid; */
  height: 620px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score {
background: linear-gradient(
    rgba(174, 26, 211, 0.904),
    rgb(191, 43, 228, 0.904),
    rgb(207, 85, 238, 0.904),
    rgb(214, 133, 235, 0.904)
  );
  box-shadow: 0px 0px 10px black;
  /* margin-bottom: 50px; */
  border: 10px outset rgba(253, 212, 100, 0.795);;
}

.high_score {
  background: linear-gradient(
    rgba(174, 26, 211, 0.904),
    rgb(191, 43, 228, 0.904),
    rgb(207, 85, 238, 0.904),
    rgb(214, 133, 235, 0.904)
  );
  box-shadow: 0px 0px 10px black;
  border: 10px outset rgba(253, 212, 100, 0.795);
  /* margin-top: 40px; */
}
